.nav {
    background: linear-gradient(111.41deg, #0079E9 12.4%, #000B6C 105.99%);
    width: 100%;
    height: 70px;
    padding: 0 1rem;
    position: fixed;
    top: 0;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1096px;
    height: 100%;
    margin: 0 auto;
    gap: 1rem;
}

.nav-logo {
    width: 100%;
}
.nav-logo a {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1rem;
    width: 100%;
}
.nav-menu a {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .nav-menu a {
        font-size: 16px;    
    }
}
@media screen and (max-width:320px) {
    .nav-logo {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .nav-menu {
        justify-content: space-between;
    }
}