.about {
    width: 100%;
    padding: 7rem 1rem 5rem 1rem;
}
.about-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1096px;
    margin: 0 auto;
    gap: 2rem;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
}

.about-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.about-profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.about-profile-image img {
    max-width: 200px;
    border: 3px solid #0079E9;
    border-radius: 999px;
}
.about-profile-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.about-profile-information-title {
    font-weight: 700;
    font-size: 24px;
}
.about-profile-information-name {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
}
.about-profile-information-headline {
    display: flex;
    justify-content: center;
    text-align: left;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
}

.about-profile-education {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.about-profile-education-title {
    font-weight: 700;
    font-size: 24px;
}
.about-profile-education-description {
    font-weight: 500;
    font-size: 16px;
}

.about-profile-experience {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.about-profile-experience-title {
    font-weight: 700;
    font-size: 24px;
}
.about-profile-experience-description {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1096px;
    gap: 1rem;
    @media screen and (max-width: 1096px) {
        grid-template-columns: 1fr;
    }
}

.about-skill-markup, .about-skill-style, .about-skill-script, .about-skill-framework {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(111.41deg, #0079E9 12.4%, #000B6C 105.99%);
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
}
.about-skill-markup-title, .about-skill-style-title, .about-skill-script-title, .about-skill-framework-title {
    font-weight: 700;
    font-size: 16px;
    color: #ffd000;
}
.about-skill-markup-list, .about-skill-script-list {
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}
.about-skill-style-list, .about-skill-framework-list {
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    @media screen and (max-width: 519px) {
        grid-template-columns: 1fr;
    }
}

strong {
    font-weight: 700;
    font-size: 24px;
}