.projects {
    width: 100%;
    padding: 7rem 1rem 5rem 1rem;
}
.projects-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1096px;
    margin: 0 auto;
    gap: 2rem;
}

.projects-title {
    font-weight: 700;
    font-size: 36px;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        margin: 0 auto;
        gap: 2rem;
    }
}
.projects-grid-box {
    width: 100%;
    max-width: 548px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.projects-grid-box-image {
    width: 100%;
    max-width: 548px;
}
.projects-grid-box-image img {
    border: 3px solid #0079E9;
    border-radius: 10px;
    width: 100%;
}
.projects-grid-box-link {
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-weight: 500;
    font-size: 16px;
}
.projects-grid-box-description {
    font-weight: 500;
    font-size: 16px;
}
