.home {
    width: 100%;
    padding: 7rem 1rem 5rem 1rem;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1096px;
    margin: 0 auto;
    gap: 2rem;
}

.home-title {
    font-weight: 700;
    font-size: 36px;
}

.home-resume {
    width: 100%;
    max-width: 1096px;
}
.home-resume img {
    width: 100%;
}